[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpiozero = "*"
rplcd = "*"
"rpi.gpio" = "*"
requests = "*"
picamera = "*"
pillow = "*"
requests-toolbelt = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
